<html lang="en">

<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/a1d34eb7b8.js" crossorigin="anonymous"></script>
	<link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet">
	<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
	<link rel="stylesheet" href="static/style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/static/script.js"></script>
	<title>Autosuggestion</title>

</head>

<body>
	<div class="container d-flex justify-content-center" style="padding-top: 20vh;">

		<div class="card login-card">
			<h2 class="text-center">Autosuggestion</h2>
			<hr>
			<div class="row">
				<button class="col-sm suggestion btn btn-primary" id="s1"></button>
				<button class="col-sm suggestion btn btn-primary" id="s2"></button>
				<button class="col-sm suggestion btn btn-primary" id="s3"></button>
			</div>
			<hr>
			<input class="form-control" type="text" placeholder="Napiši nešto!" oninput="changed()" id="input">
		</div>
	</div>


</body>

</html>